
; POSTRESQL CONFIG
DB_HOST={IP Server}
DB_PORT={Port Server}
DB_NAME={Database name}
DB_USERNAME={username database}
DB_PASSWORD={password database}

; JWT CONFIG
JWT_SECRET={key secret}
JWT_EXPIRATION={time}

; CLOUDINARY CONFIG
CLOUDINARY_CLOUD_NAME={cloud name}
CLOUDINARY_API_KEY={cloud api key}
CLOUDINARY_API_SECRET={cloud api secret}